.navbar {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo{
    width: 50px;
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 18px;
}
.nav-menu li{
    cursor: pointer;
    padding: 10px;
}
.nav-menu li.active{
    border-bottom: 2px solid #007bff;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: pink;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: gray;
}
.navp-cart{
    position: relative;
}
.dot{
    position: absolute;
    top:0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}